@charset "UTF-8";

html {
  font-size: 62.5%;
  /* 16px * 62.5% = 10px */
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; /* Safari */
}

body{
    margin:0;
    padding:0;
    h1, h2{
        font-family: "Josefin Sans", sans-serif, 'NoChattering';
        letter-spacing: 0.05em;
        line-height: 100%;
        font-weight: 400;
    }
    h3, h4, p{
        font-family: 'Noto Sans JP', sans-serif, 'NoChattering';
        letter-spacing: 0.05em;
        line-height: 200%;
        color: #4e454a;
        margin: 1em;
    }
    h2{
      font-size: 6.4rem;
    }
    h3{
      font-size: 1.8rem;
    }
    h4{
      font-size: 1.6rem;
    }
    p{
      font-size: 1.6rem;
    }
    ul{
      list-style: none;
      padding: 0;
      font-size: 1.6rem;
    }
    a{
      color: #4e454a;
    }
}

.hero{
  width: 100%;
  height: calc(100vh + 100px);
  background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(222,168,248) 0%, rgba(168,222,248) 21.8%, rgba(0,255,127,0.5) 35.6%, rgba(255,243,82,0.5) 52.9%, rgba(255,165,0,0.5) 66.8%, rgba(248,172,172) 90%, rgba(254,211,252) 99.7% );
  background-size: 150% 150%;
  animation: gr_move15 15s ease infinite;
  -webkit-animation: gr_move15 15s ease infinite;
  @keyframes gr_move15{
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .heading{
        color: rgba(255,255,255,0.75);
        font-size: 9.6rem;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
  }
  .scroll_container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .scroll {
            position: absolute;
            top: 75%;
            width: 60px;
            height: 60px;
            border: 5px solid rgba(255,255,255,0.75);
            border-radius: 50%;
            animation: down 5s infinite;
            -webkit-animation: down 5s infinite;
            &::before {
              content: '';
              position: absolute;
              top: 15px;
              left: 18px;
              width: 18px;
              height: 18px;
              border-left: 5px solid rgba(255,255,255,0.75);
              border-bottom: 5px solid rgba(255,255,255,0.75);
              transform: rotate(-45deg);
              -webkit-transform: rotate(-45deg);
            }
          }
          
          @keyframes down {
            0% {
              transform: translate(0);
              -webkit-transform: translate(0);
            }
            50% {
              transform: translateY(15px);
              -webkit-transform: translateY(15px);
            }
            100% {
              transform: translate(0);
              -webkit-transform: translate(0);
            }
          }
          
          @-webkit-keyframes down {
            0% {
              transform: translate(0);
              -webkit-transform: translate(0);
            }
            50% {
              transform: translateY(15px);
              -webkit-transform: translateY(15px);
            }
            100% {
              transform: translate(0);
              -webkit-transform: translate(0);
            }
          }
  }      
}

main{
  width: 100%;
  padding: 0;
  margin: 0 auto;
  .wave{
    position: relative;
      child{
        background:#fff;	
      }
      canvas{
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;
      }
  }
  section{
    width: 100%;
    padding: 0 10% 0 10%;
    margin-bottom: 120px;
    box-sizing: border-box;
    text-align: center;
    h2{
      color: transparent;
      margin: 0 auto 32px auto;
      background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(222,168,248) 0%, rgba(168,222,248) 21.8%, rgba(0,255,127,0.5) 35.6%, rgba(255,243,82,0.5) 52.9%, rgba(255,165,0,0.5) 66.8%, rgba(248,172,172) 90%, rgba(254,211,252) 99.7% );
      background-size: 200%;
      animation: gr_move20 20s ease infinite;
      background-clip: text;
      -webkit-background-clip: text;
      .heading_jp {
        font-family: 'Noto Sans JP', sans-serif, 'NoChattering';
        font-size: 2.4rem;
        vertical-align: 10px;
      }
    }
    @keyframes gr_move20 {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
    }
  }
  //fade-in animation
  .fade-in{
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    -webkit-transition: 1s;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    &.visible{
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      -webkit-transform: translateY(0);
    }
  }
  //about
  #about{
    padding-top: 120px;
    div{
      p{
        padding: 0 20%;
        margin: 0 auto;
        span{
          display: block;
          text-align: right;
        }
      }
    }
  }
  //Mind
  #mind{
    #mind_list{
      display: flex;
      flex-wrap: wrap;
      gap: 16px 0;
      li{
        width: 50%;
        margin: 0 auto;
        h3{
          position: relative;
          font-family: 'Noto Sans JP', sans-serif, 'NoChattering';
          span {
            color: rgba(211,211,211,0.5);
            font-family: "Josefin Sans", sans-serif, 'NoChattering';
            font-size: 9.6rem;
            position: absolute;
            bottom: -1.6rem;
            left: 0;
            z-index: -1;
          }
        }
      }
    }
  }
  //works
  #works{
    h3{
      position: relative;
      &::before{
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        content: '';
        width: 50px;
        height: 2px;
        border-radius: 1px;
        background: #d3d3d3;
      }
    }
    #works_list{
      width: 70vw;
      margin: 0 auto 48px auto;
      display: flex;
      flex-wrap: wrap;
      gap: 24px 32px;
      padding: 0;
      li{
        width: calc(50% - 16px);
        padding: 0;
        box-sizing: border-box;
        p{
          text-align: center;
        }
      }
    }
    .slider{
      display: flex;
      width: 60vw;
      padding-top: 16px;
      margin: 0 auto;
      overflow: hidden;
      .slide_contents{
        display: flex;
        flex-wrap: nowrap;
        animation: slide 25s linear infinite;
        padding: 0;
        margin: 0;
        li{
          width: 180px;
          height: auto;
          padding: 0;
          margin: 0;
          h4, p{
            line-height: 125%;
            padding: 0;
            margin: 0;
          }
          p{
            font-size: 1.2rem;
            font-weight: 400;
            span{
              font-family: "Josefin Sans", sans-serif, 'NoChattering';
              font-size: 1rem;
              color: #d3d3d3;
            }
          }
          img{
            padding: 16px 0;
          }
        }
      }
    }
    @keyframes slide {
      from {
          transform: translateX(0);
          -webkit-transform: translateX(0);
      }
      to {
          transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
      }
  }
  }
  #contact{
    div{
      a{
        font-family: "Josefin Sans", sans-serif, 'NoChattering';
        color: #4e454a;
        letter-spacing: 0.05em;
      }
    }
  }
}

footer{
  text-align: center;
  padding: 1em;
  margin: 180px auto 0 auto;
  background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(222,168,248) 0%, rgba(168,222,248) 21.8%, rgba(0,255,127,0.5) 35.6%, rgba(255,243,82,0.5) 52.9%, rgba(255,165,0,0.5) 66.8%, rgba(248,172,172) 90%, rgba(254,211,252) 99.7% );
  background-size: 150% 150%;
  animation: gr_move20 20s ease infinite;
  -webkit-animation: gr_move20 20s ease infinite;
  @keyframes gr_move20{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
  p{
    margin: 0;
    line-height: 150%;
    color: #fff;
    a{
      color: #fff;
    }
  }
}

//PC
@media screen and (min-width:599px) {
body{
  .only_sp{
    display: none;
  }
} 
}

@media screen and (max-width:599px) {
body{
  h3, h4, p{
    margin: 1em 0;
  }
  p{
    text-align: left;
  }
  .only_pc{
    display: none;
  }
}

.hero{
  .heading{
    font-size: 6.4rem;
    line-height: 150%;
  }
}

main{
  section{
    padding: 0 7.5%;
  }
  //about
  #about{
    padding-top: 120px;
    div{
      p{
        padding: 0;
      }
    }
  }
  //mind
  #mind{
    #mind_list{
      width: 100%;
      li{
        width: 100%;
        h3{
          &::before{
            top: 1rem;
            left: 0;
          }
        }
      }
    }
  }
  //works
  #works{
    #works_list{
      width: 100%;
      gap: 16px;
      li{
        width: 100%;
        p{
          text-align: left;
        }
      }
    }
    .slider{
      width: 80vw;
      ul{
        li{
          p{
            text-align: center;
          }
        }
      }
    }
  }
    //contact
    #contact{
      h2, p{
        text-align: center;
      }
    }
  }

  footer{
    p{
      text-align: center;
    }
  }
}